.input-text input[type=text], .input-text textarea {
    border-left:1px solid #9E9E9E!important;
    border-right: 1px solid #9E9E9E!important;
    border-top: 1px solid #9E9E9E!important;
    border-bottom: 1px solid #9E9E9E!important;
    
    /*box-shadow: 0 1px 0 0 #9E9E9E!important;*/
    box-shadow: none;

    padding-left: 10px!important;
    padding-right: 10px!important;

    box-sizing: border-box!important;
}
.input-text textarea {
    min-height: 6rem!important;
}
.input-text input[type=text]:focus, .input-text textarea:focus {
    border-bottom: 1px solid #8b1014!important;
    box-shadow: 0 1px 0 0 #8b1014!important;
}
.input-text label {
    left: 10px!important;
}