.navbar-fixed-component nav .row {
    margin-bottom: 0px!important;
}
.navbar-fixed-component .button-collapse {
    background: transparent!important;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
}
.navbar-fixed-component .button-collapse:hover, .navbar-fixed-component .button-collapse:active {
    background: #eceff1 !important;
}
.navbar-fixed-component .button-collapse i {
    height: 36px;
    line-height: 36px;
}
#sidenav-overlay {
    z-index: 990!important;
    position: relative;
}
.side-nav {
    z-index: 999!important;
}
.nav-wrapper .mnu-primary.mnu-last {
    margin-right: 0px!important;
}
.mnu-logo {
    height: 32px;
    vertical-align: middle;
    margin-top:-4px;
}
.mnu-image {
    width:32px;
    margin-left: 16px;
    vertical-align: middle;
}
.side-nav-profile, .side-nav-profile .link {
    height: 56px;
    line-height: 18px;
}
.side-nav-profile .side-nav-profile-content {
    padding-top: 9px;
    vertical-align: middle;
}
.side-nav-profile img {
    line-height: 18px;
    width: 32px;
    margin-right: 16px;
}
.side-nav-profile p {
    margin: 0;
}
.side-nav-profile .title, .side-nav-profile .subtitle {
    line-height: 18px;
}
.side-nav-profile .subtitle {
    font-size: .9rem;
    font-weight: 400;
}
.main-mobile-section li a {
    padding-left: 20px!important;
    padding-right: 14px!important;
}
.material-icons.right {
    margin-right: 0px!important;
}
.main-mobile-section .mnu-primary .material-icons {
    margin-left: 4px;
    margin-right: 20px;
}
.nav-content-container {
    position: relative;
}