.card-profile {
    
}
.card-profile .pearson-name {
    font-size: 1.2rem;
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-profile .card-image-profile {
    margin-top: -96px;
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 5px solid #fff;
}

/*card profile section*/
.card-profile .like-button-section {
    position: relative;
    margin-top: -44px!important;
    text-align: center;
}
.card-profile .like-button-section .likes {
    position: relative;
    display:inline-block;
    margin-top:20px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
}
.card-profile .like-button-section .like-button {
    position: relative;
    margin-top: -20px;
}

/*card profile social*/
.card-profile .social-link {
    /*position: relative;
    margin-top:-40px!important;*/
    margin-top: 10px!important;
}
.card-profile .social-link img {
    width: 32px;
    height: 32px;
}

/*Profile Info*/
.info-section {
    padding: 0px!important;
}
.info-section .profile-info {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}
.info-section .profile-info i.left {
    margin-right: 5px;
}