/* Blockquote-List */
.blockquote-list-section .blockquote-actions .btn:first-child {
    margin-right: 10px;
}

.blockquote-list-section hr {
    margin-left: 27px;
    margin-right: 27px;
    border:none;
    height: 1px;
}

/* Blockquote-Items */
.blockquote-item:first-child {
    margin-top:0px!important;
}
.blockquote-item {
    margin-bottom: 25px;
    margin-top: 25px;
    border-left: 3px solid #039be5;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.blockquote-item .quote {
    margin:0px!important;
    font-size: 16px;
}
.blockquote-item .quote .material-icons.right {
    margin-left: 0px!important;
}
.blockquote-item .source-section .photo {
    margin-top: 8px;
    width: 32px;
    height: 32px;
}
.blockquote-item .source-section .source {
    margin-left: 40px;
    margin-bottom: 0px;
}
.blockquote-item .source-section .photo.valign-wrapper {
    position: absolute;
}
.blockquote-item .source-section .source .name,
.blockquote-item .source-section .source .job,
.blockquote-item .source-section .source .contact {

    display: block;

}
.blockquote-item .source-section .source .name {
    font-size: 18px;
}
.blockquote-item .source-section .source .job, .blockquote-item .source-section .source .contact {
    font-size: 13px;
}