.footer-section {
    margin-bottom: 0px;
    background-color: #263238;
    color: #CFD8DC;
    font-size: 13px;
    padding: 8px 12px;
    line-height: 32px;
}

.footer-section a {
    color: #03A9F4;
}

/*@media only screen and (max-width: 600px) {
    .footer-copyright .developed.right, .footer-copyright .copyright {
        float: none!important;
        display: block;
        text-align: center;
    }
}*/