ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
}
ul.pagination li.page-item.active a.page-link {
    color: #fff !important;
    background-color: #fa5c7c !important;
}
ul.pagination a.page-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: #fa5c7c;
    font-weight: 900;
    font-size: 12px;
    text-decoration: none;
    border-radius: 50%;
}
ul.pagination a.page-link:hover {
    background-color: #f4f4f4;
}