/* Bubble Chat */
.bubble-chat-section {
    position: fixed;
    right: 23px;
    bottom: 80px;
    max-width: 280px;
    width: 280px;
    max-height: 380px;
    height: 380px;
    z-index: 999;
    padding: 0px!important;
}

/* Header Chat */
.bubble-chat-section .header-chat {
    cursor: pointer;
}
.bubble-chat-section .name-chat {
    padding: 8px 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.bubble-chat-section .photo-chat {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.bubble-chat-section h1 {
    margin: 0px;
    font-size: 15px;
}
.bubble-chat-section .secondary-name-chat {
    font-size: 12px;
    display: inline-block;
    line-height: 8px;
}
.bubble-chat-section .secondary-name-chat .active-chat {
    margin-right: 5px!important;
    font-size: 8px;
}
.bubble-chat-section .body-chat {
    padding: 8px 12px;
}
.bubble-chat-section .body-chat .message-initial {
    margin: 0px;
    font-size: 13px;
    text-align: center;
}

/* Chat */
.bubble-chat-section .body-chat .chat .chat-message {
    line-height: 32px;
    margin-bottom: 0px;
}
.bubble-chat-section .body-chat .chat .chat-message .photo {
    margin-right: 8px;
    margin-top: 4px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
}
.bubble-chat-section .body-chat .chat .chat-message .msg {
    font-size: 14px;
    border-radius: 16px;
    padding: 8px 12px;
    line-height: 16px;
    display: inline-block;
    max-width: 224px;
}
/* Without Photo */
.bubble-chat-section .body-chat .chat.without-photo .chat-message {
    margin-top: 2px;
}
.bubble-chat-section .body-chat .chat.without-photo .chat-message .msg {
    margin-left: 32px;
}
.bubble-chat-section .body-chat .chat.answer.without-photo .chat-message .msg {
    margin-left: 0px;
    margin-right: 32px;
}
/* Chat Answer */
.bubble-chat-section .body-chat .chat.answer .chat-message {
    display: flex;
    flex-flow: row-reverse;
}
.bubble-chat-section .body-chat .chat.answer .chat-message .photo {
    margin-right: 0px;
    margin-left: 8px;
}

/* Action Chat */
.bubble-chat-section .action-chat {
    position: absolute;
    bottom:0;
    width: 100%;
    padding: 8px 8px;
}
.bubble-chat-section .action-chat .message-text {
    margin: 0px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px!important;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #e9e9e9!important;
    width: 220px;
}
.bubble-chat-section .action-chat .message-text:focus,
.bubble-chat-section .action-chat .message-text:active {
    box-shadow: none!important;
}
.bubble-chat-section .action-chat .btn-send {
    margin-left: 4px;
}