/*MEDIA QUERY*/
@media only screen and (max-width: 600px) {
	/*REGLAS GENERALES*/


	/*LOGO LARGO*/
	.primary-header .navbar-fixed .container {
		width: 100%;
	}
	.logo-large {
		margin-top:10px;
		height: 36px;
	}
	#name-logo .name {
		color: #000 !important;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
	}
	#name-logo .description {
		color: #757575 !important;
		font-size: 9px;
	}

	/*CUSTOM COMPONENTS*/
	.br {
		height: 10px;
	}

	/*SECCIONES*/
	.section-landing-welcome {
		height: 198px;
		background:url(../../../Resources/Images/landing/landing-hero-welcome.png) no-repeat 348px 0px;
	}
	.section-landing-welcome .section-landing-content {
		margin-top: 30px;
	}
	.section-landing-welcome .section-landing-title {
		font-size:1.30rem;
		text-align: left;
	}
	.section-landing-welcome .section-landing-caption {
		font-size:.84rem;
		text-align: left;
	}
	.section-landing-welcome .section-landing-content .btn {
		font-size: .84rem;
		height: 24px;
		line-height: 24px;
	}
}